<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function reset() {
            var form = document.getElementById("form_info");
            var file = document.getElementById("file");
            form.id.value("");
            form.pw.value("");
            form.name.value("");
            form.age.value("");
            file.value("");
        }
    </script>
</head>
<body>
    <form action="/upload2" method="post" enctype="multipart/form-data" id="form_info">
        <fieldset>
            <legend>개인 정보</legend>
            아이디: <input type="text" name="id"><br>
            비밀번호: <input type="password" name="pw"><br>
            이름: <input type="text" name="name"><br>
            나이: <input type="text" name="age"><br>
        </fieldset>
        <input type="file" name="userfile" id="file">
        <button type="button" onclick="reset()">리셋</button>
        <button type="submit">회원가입</button>
    </form>
</body>
</html>