<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>study1</title>
</head>
<body>
    <% for(var i=0 ; i<3 ; i++) { %>
        <img src="static/image/<%=i+1%>.png">
    <% } %>
</body>
</html>