<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>fetch2</title>
    <script>
        function sendGet() {
            var form = document.getElementById('form_info');
            var urlQuery = `?id=${form.id.value}&pw=${form.pw.value}`;
            fetch("/fetch2"+urlQuery, {
                method:"get",
            })
            .then((response) => {return response.json()})
            .then((data) => {
                console.log(data);
            })
        }
    </script>
</head>
<body>
    <form id="form_info">
        id <input type="text" name="id">
        pw <input type="password" name="pw">
        <button type="button" onclick="sendGet()">로그인</button>
    </form>
    <p id="result"></p>
</body>
</html>