<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const loginClick = () => {
            var form = document.getElementById("login_form");
            axios.post(`/login`, {id: form.id.value, pw: form.pw.value})
            .then((res) => {
                console.log(res.data);
                res.data == 'success' ? alert("성공") : alert("다시 입력하세요.");
                location.href="/my-info";
            })
        }
    </script>
</head>
<body>
    <h1>로그인</h1>
    <form id="login_form">
        id: <input type="text" name="id">
        pw: <input type="password" name="pw">
        <button type="button" onclick="loginClick()">로그인</button>
    </form>
</body>
</html>